// Navbar
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: rem(32) rem(24);
  position: relative;
  align-items: center;
  @include responsive(min-desktop) {
    padding: rem(34) rem(44);
  }

  &-hamburger {
    height: rem(18);
    @include responsive(min-desktop) {
      display: none;
    }
    &[data-active='true'] {
      opacity: 0.6;
    }
  }

  &-logo {
    max-height: rem(33);
    width: rem(170);
  }

  &-menu[data-visible='false'] {
    opacity: 0;
    visibility: hidden;
    @include responsive(min-desktop) {
      opacity: 1;
      visibility: visible;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: rem(78);
    left: rem(24);
    right: rem(24);
    background-color: $white;
    transition: opacity 0.1s, visibility, 0.1s ease-out;
    &::before {
      content: '';
      position: absolute;
      background: $white;
      transform: skewY(-45deg);
      height: rem(40);
      width: rem(40);
      top: 0;
      right: 0;
    }
    @include responsive(min-desktop) {
      position: relative;
      flex-direction: row;
      background-color: transparent;
      inset: 0 0 0 0;
      margin: 0;
      gap: rem(47);
      &::before {
        content: none;
      }
    }
  }

  &-link {
    text-align: center;
    padding: rem(16) 0;
    &:first-child {
      padding-top: rem(39);
    }
    @include responsive(min-desktop) {
      padding: 0;
      &:first-child {
        padding: 0;
      }
    }
    & a {
      text-decoration: none;
      @include font(20, 25, 600, $gray-blue);
      &:hover {
        transition: all 0.25s ease-in-out;
        color: $dark-gray-blue;
      }
      @include responsive(min-desktop) {
        @include font(18, 25, 600, $white);
      }
    }
  }

  &-btn {
    width: rem(140);
    height: rem(56);
    border-radius: rem(50);
    border: none;
    background-color: $yellow;
    @include font(15, 25, bold);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    margin: rem(16) 0 rem(39) 0;
    transition: all 0.25s ease-in-out;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    @include responsive(min-desktop) {
      margin: 0;
      background-color: rgba(255, 255, 255, 0.25);
      color: $white;
      &:hover {
        color: #000;
        background-color: $white;
      }
    }
  }
}

// Header
.header {
  &-title {
    font-family: 'Fraunces', serif;
    @include font(40, 49, 900, $white);
    text-align: center;
    text-transform: uppercase;
    padding: rem(144) rem(24) rem(52) rem(24);
    letter-spacing: rem(6.25);
    @include responsive(xs-mobile) {
      font-size: rem(30);
    }
  }

  &-arrow {
    display: flex;
    place-content: center;
    width: 100%;
    & img {
      width: rem(30);
      height: rem(107);
    }
  }

  &-image {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: rem(800);
    width: 100%;
    z-index: -1;
  }
}

// Section 1
.section1 {
  padding: rem(64) rem(24);
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  max-width: rem(445);

  &-img {
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &-title {
    font-family: 'Fraunces', serif;
    @include font(32, 39, 900, $very-dark-blue);
    text-align: center;
    margin-bottom: rem(24);
    @include responsive(min-desktop) {
      text-align: left;
    }
  }

  &-content {
    @include font(18, 30, 600, $gray-blue);
    text-align: center;
    margin-bottom: rem(32);
    @include responsive(min-desktop) {
      text-align: left;
    }
  }

  &-learn {
    font-family: 'Fraunces', serif;
    @include font(15, 25, 900, $very-dark-blue);
    letter-spacing: rem(1);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    @include responsive(min-desktop) {
      margin-left: 10px;
    }
    &::after {
      content: '';
      width: rem(137);
      height: rem(10);
      background: $yellow;
      opacity: 0.25;
      border-radius: rem(28);
      position: absolute;
      left: rem(-10);
      margin-top: rem(15);
      z-index: -1;
      transition: all 0.25s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  .red {
    &::after {
      background: $soft-red;
    }
  }

  .link-container {
    text-align: center;
    @include responsive(min-desktop) {
      text-align: left;
    }
  }
}

.section2 {
  text-align: center;
  min-height: rem(600);
  height: auto;
  position: relative;

  &-img {
    z-index: -1;
    width: 100%;
    min-height: rem(600);
    object-fit: cover;
    @include responsive(min-tablet) {
      width: 100%;
    }
  }

  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 rem(24);
    z-index: 1;
    margin-bottom: rem(59);
    @include responsive(min-desktop) {
      margin-bottom: rem(100);
    }
  }

  &-title {
    font-family: 'Fraunces', serif;
    @include font(28, 35, 900, $dark-blue);
    margin-bottom: rem(27);
  }

  &-text {
    @include font(16, 27, 600, $dark-blue);
    letter-spacing: rem(-0.114286);
    max-width: rem(339);
    margin: 0 auto;
  }
}

// Testimonials
.testimonial {
  padding: rem(64) rem(24) rem(86) rem(24);
  text-align: center;

  &-section {
    margin: rem(64) 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    font-family: 'Fraunces', serif;
    @include font(16, 20, 900, $light-gray-blue);
    letter-spacing: rem(4);
    text-transform: uppercase;
  }

  &-img {
    width: rem(72);
    height: rem(72);
    border-radius: 50%;
    display: block;
    margin: 0 auto rem(32) auto;
  }

  &-content {
    @include font(18, 32, 600, $dark-gray-blue);
    letter-spacing: rem(-0.128571);
  }

  &-name {
    font-family: 'Fraunces', serif;
    @include font(18, 22, 900, $very-dark-blue);
    letter-spacing: rem(-0.128571);
    margin: rem(32) 0 rem(9) 0;
  }

  &-position {
    @include font(14, 25, 600, $light-gray-blue);
    letter-spacing: rem(-0.1);
  }
}

// Gallary
.gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include responsive(min-tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  & > img {
    aspect-ratio: 1;
    object-fit: cover;
    @include responsive(min-tablet) {
      aspect-ratio: auto;
    }
  }
}

// Footer
.footer {
  padding: rem(64) rem(39) rem(80) rem(39);
  background-color: #90d4c6;

  &-logo {
    height: rem(33);
    width: rem(170);
    margin-bottom: rem(40);
    display: block;
    margin: 0 auto;
    filter: invert(38%) sepia(29%) saturate(730%) hue-rotate(118deg)
      brightness(58%) contrast(94%);
  }

  &-links {
    display: flex;
    justify-content: center;
    gap: rem(57);
    @include responsive(xs-mobile) {
      gap: rem(20);
    }
    margin: rem(40) 0 rem(88) 0;
    & a {
      text-decoration: none;
      @include font(18, 25, 600, $cyan-footer);
    }
  }

  &-socials {
    display: flex;
    justify-content: center;
    gap: rem(28);
  }
}
.grid {
  @include responsive(min-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'egg-content egg'
      'cup cup-content'
      'cherry oranges'
      'testimonials testimonials';
  }
}

.grid-1 {
  grid-area: egg;
}
.grid-2 {
  grid-area: egg-content;
}
.grid-3 {
  grid-area: cup;
}
.grid-4 {
  grid-area: cup-content;
}
.grid-5 {
  grid-area: cherry;
}
.grid-6 {
  grid-area: oranges;
}
.grid-7 {
  grid-area: testimonials;
}
